/* CSS Document */
 *{margin:0;padding:0;text-decoration: none;}
html,body { height:100%; }
body{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	line-height: 22px;
	margin: 0px;
}
a:link {
	color: #000000;
	text-decoration: none;
	
}
a:visited {
	color: #006699;
}
a:hover {
	color: #FF9900;
}
a:active {
	color: #FFCC00;
}

li{
	list-style-type: none;
}


 .f-c-black{
	
}
  .f-c-black a:link,.f-c-black a:visited,.f-c-black a:active{
	color: #000000;
	text-decoration: none;
}  
    .f-c-black a:hover{
	color: #FF9900;
} 

.f-c-blue{}
.f-c-blue a:link,.f-c-blue a:visited,.f-c-blue a:active{
	color: #0f3b9a;
	text-decoration: none;
}  
.f-c-blue a:hover{
	color: #FF9900;
} 

.f-c-blue2{}
.f-c-blue2 a:link,.f-c-blue2 a:visited,.f-c-blue2 a:active{
	color: #09C;
	text-decoration: none;
}  
.f-c-blue2 a:hover{
	color: #09C;
} 

 .f-c-y{color: #F90;
	
}
  .f-c-y a:link,.f-c-y a:visited,.f-c-y a:active{
	color: #F90;
	text-decoration: none;
}  
    .f-c-y a:hover{
	color: #FF9900;
	text-decoration: none;
} 

 .f-c-g{
	color: #017065;
	text-decoration: none;
	
}
  .f-c-g a:link,.f-c-g a:visited,.f-c-g a:active{
	color: #017065;
	text-decoration: none;
}  
    .f-c-g a:hover{
	color: #FF9900;
} 

 .f-c-r, .f-c-r a{
	color: #C30;
	text-decoration: none;
	
}
  .f-c-r a:link,.f-c-r a:visited,.f-c-r a:active{
	color: #C30;
	text-decoration: none;
}  
    .f-c-r a:hover{
	color: #C30;
}
 .f-c-w{color: #Fff;
	
}
  .f-c-w a:link,.f-c-w a:visited,.f-c-w a:active{
	color: #Fff;
	text-decoration: none;
}  
    .f-c-w a:hover{
	color: #FFf;
} 

.f-c-gray{
	color: #333;
}
.f-c-gray a:link{
	color: #333;
	text-decoration: none;
}
.f-c-gray a:visited{
	color:#333;
	text-decoration: none;
}
.f-c-gray a:hover{color: #006699;}
.f-c-gray a:active{color: #000;}

.f-c-gray2{
	color: #999;
}
.f-c-gray2 a:link{
	color: #999;
	text-decoration: none;
}
.f-c-gray2 a:visited{
	color:#999;
	text-decoration: none;
}
.f-c-gray2 a:hover{color: #006699;}
.f-c-gray2 a:active{color: #000;}

.clean{clear: both;
    height:1px;
    margin-top:-1px; 
    overflow:hidden;}

.line {
	clear: both;
	margin-top: 4px;
	margin-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
#line {
	width: 98%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	height: 2px;
}

.round {
	width: 1010px;
	margin-right: auto;
	margin-left: auto;
}