<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!--  
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName"><value>java:comp/env/jdbc/slsdb</value></property>
    </bean>
    -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName">
			<value>${hibernate.connection.driver_class}</value>
		</property>
		<property name="url">
			<value>${hibernate.connection.url}</value>
		</property>
		<property name="username" value="${hibernate.connection.username}" />
		<property name="password" value="${hibernate.connection.password}" />
		<property name="maxIdle" value="500" />
		<property name="maxActive" value="4000" />
		<property name="maxWait" value="100" />
		<property name="removeAbandoned" value="true" />
		<property name="removeAbandonedTimeout" value="180" />
		<property name="logAbandoned" value="true" />
		<property name="initialSize" value="10" />
	</bean>
  
    <!-- baseDAOJdbc - can be used when doing standard CRUD -->
    <bean id="DAOJdbc" class="com.krm.ps.framework.dao.jdbc.BaseDAOJdbc">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
</beans>
