<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!-- Transaction template for Managers, from:
         http://blog.exis.com/colin/archives/2004/07/31/concise-transaction-definitions-spring-11/ -->
         
        
    <!-- <bean id="formulaDAO" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.krm.ps.model.datafill.dao.FormulaDAOJDBCImpl">
              <property name="dataSource" ref="dataSource"/>
        	  <property name="reportConfigDAO" ref="reportConfigDAO"/>
            </bean>
        </property>
    </bean>
    
     <bean id="formulaHelp" class="com.krm.ps.model.datafill.bo.FormulaHelp"> 
        <property name="DAO" ref="formulaDAO"/>
    </bean> -->
    
     <bean id= "propertyConfigurer"  class = "org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >          
			<property name="location"  value= "classpath:database.properties" />
	</bean>
    
    <bean id="reportDataDAO" class="com.krm.ps.framework.common.dao.jdbc.ReportDataDAOImpl"> 
        <property name="dataSource" ref="dataSource"/>   
    </bean>
    
    
    
    
</beans>
