 #selector.selector div, #selector .selector dl, #selector .selector dt, #selector .selector dd, #selector .selector ul, #selector .selector ol, #selector .selector li, #selector .selector form, #selector .selector fieldset, #selector .selector input, #selector .selector textarea, #selector .selector p {
	margin:0;
	padding:0;
	float:none;
	width:auto
}
 #selector.selector fieldset, #selector .selector img {
	border:0
}
 #selector.selector em, #selector .selector strong {
	font-style:normal;
	font-weight:normal
}
 #selector.selector li {
	list-style:none
}
#selector.selector a:link, #selector .selector a:visited, #selector .selector a:hover {
	color:#58656f;
	text-decoration:none;
	outline:none
}
#selector.selector a:hover {
	_text-decoration:underline
}

.none {
	display:none;
}
.left {
	float:left
}
.right {
	float:right
}
#selector .selector .selector_tit, #selector .selector .fs_now, #selector .selector .fs_bor, #selector .selector .selector_search, #selector .selector .selector_search .fs_op, #selector .selector .selector_search .fs_search, #selector .selector .selector_search .fs_search_cont, #selector .selector li:hover, #selector .selector dt:hover, #selector .selector .selector_list dt .fs_group, #selector .selector .selector_list dt .fs_add_group, #selector .selector .selector_list li .fs_checked, #selector .selector .selector_list li a.fs_m, #selector .selector .selector_list li a.fs_f, #selector .selector .selector_qqno dd .fs_btn_add, #selector .selector .fs_list_selected li .fs_trash, #selector .selector .fs_list_selected .fs_list_overflow .fs_ico_warn, #selector .selector .selector_qqno dd .fs_warning, #selector .selector .selector_qqno dd .fs_succ {
	background-image:url(friend_selector.png);
	background-repeat:no-repeat
}
   #selector .selector .selector_list dt .fs_group1, #selector .selector .selector_list dt .fs_add_group1 {
	background-image:url(friend_selector1.png);
	background-repeat:no-repeat
}
#selector .selector {
	font-family:Arial, Simsun;
	font-size:14px;
	width:178px;
	height:218px;
	border:1px solid #A4B7CA;
	color:#58656f;
	background:#FFF;
	text-align:left;
	zoom:1;
	position:relative
}
#selector .selector.fs_with_tab {
	width:201px
}
#selector .selector.fs_col_2 {
	width:337px
}
#selector .selector.fs_col_3 {
	width:496px
}
#selector .selector.fs_col_2 li, #selector .selector.fs_col_3 li {
	zoom:1;
	overflow:hidden
}
#selector .selector.fs_col_2 li, #selector .selector.fs_col_3 li {
	width:155px;
	float:left
}
#selector .selector .selector_tit {
	height:27px;
	background-position:0 -74px;
	position:relative;
	background-repeat:repeat-x
}
 
#selector .selector .selector_cont {
	height:190px
}
#selector .selector .selector_list {
	height:177px;
	overflow-y:auto;
	padding:3px 2px 0;
	position:relative
}
#selector .selector .fs_list_selected {
	height:187px
}
#selector .selector .fs_clear {
	zoom:1
}
#selector .selector .fs_clear:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
#selector .selector .fs_hit {
	color:#FF6203!important
}
#selector .selector .selector_tit .fs_tit {
	line-height:27px;
	padding-left:14px
}
#selector .selector .selector_tit .fs_tit_op {
	position:absolute;
	right:9px;
	top:6px
}
#selector .selector .selector_tit .fs_empty:link, #selector .selector .selector_tit .fs_empty:visited {

	color:#2b7fbf
}
#selector .selector .selector_tit .fs_tab {
	padding-top:3px
}
#selector .selector .selector_tit .fs_tab a {
	display:block;
	height:24px;
	line-height:24px;
	width:88px;
	float:left;
	text-align:center
}
#selector .selector .selector_tit .fs_tab a.fs_now {
	background-position:3px -101px;
	background-repeat:no-repeat;
	cursor:default
}
#selector .selector .selector_tit .fs_tab a.fs_bor {
	background-position:-12px -101px;
	background-repeat:no-repeat
}
#selector .selector .selector_search .fs_search {
	position:relative;
	width:169px;
	height:22px;
	margin-left:5px;
	background-position:0 -22px
}
#selector .selector.fs_with_tab .selector_search .fs_search {
	width:189px;
	background-position:0 0
}
#selector .selector .selector_search .fs_search input {
	background:none;
	border:0 none;
	height:14px;
	left:2px;
	padding-left:7px;
	padding-top:5px;
	position:absolute;
	top:0;
	width:155px;
	color:#58656F
}
#selector .selector .selector_search .fs_search input.fs_hint {
	color:#b8b8b8
}
#selector .selector .selector_search .fs_search .fs_op {
	background-position:0 -252px;
	display:block;
	height:15px;
	line-height:999px;
	overflow:hidden;
	position:absolute;
	right:6px;
	top:4px;
	width:15px
}
#selector .selector .selector_search .fs_search .fs_op.fs_del {
	background-position:2px -217px
}
#selector .selector .selector_search .fs_search .fs_op.fs_del:hover {
	background-position:2px -199px
}
#selector .selector .selector_list a:link, #selector .selector .selector_list a:visited {
	color:#0b283c
}
#selector .selector .selector_list dt, #selector .selector .selector_list li {
	height:18px;
	line-height:20px;
	overflow:hidden;
	border:1px solid #FFF;
	position:relative
}
#selector .selector .selector_list dt .fs_group {
	cursor:hand;
	display:block;
	height:18px;
	background-position:-171px -215px;
	padding-left:22px;
	line-height:17px;
	width:127px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-moz-text-overflow:ellipsis;
	-webkit-text-overflow:ellipsis;
	overflow:hidden
}
#selector .selector .selector_list dt .fs_group1 {
	cursor:hand;
	display:block;
	height:18px;
	background-position:-171px -215px;
	padding-left:22px;
	line-height:17px;
	width:127px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-moz-text-overflow:ellipsis;
	-webkit-text-overflow:ellipsis;
	overflow:hidden
}
#selector .selector .selector_list dt .fs_group:hover {
	background-position:-171px -197px
}
#selector .selector .selector_list dt .fs_group1:hover {
	background-position:-171px -197px
}
#selector .selector .selector_list dt .fs_add_group {
	display:block;
	height:18px;
	width:18px;
	line-height:999px;
	overflow:hidden;
	position:absolute;
	right:0;
	top:0;
	background-position:0 -179px
}
#selector .selector .selector_list dt .fs_add_group1 {
	display:block;
	height:18px;
	width:18px;
	line-height:999px;
	overflow:hidden;
	position:absolute;
	right:0;
	top:0;
	background-position:0 -179px
}
#selector .selector .selector_list dt .fs_add_group1:hover {
	background-position:0 -161px
}

#selector .selector .selector_list dt .fs_add_group:hover {
	background-position:0 -161px
}
#selector .selector .selector_list dl.fs_unfold .fs_group {
	background-position:-171px -251px
}
#selector .selector .selector_list dl.fs_unfold .fs_group1 {
	background-position:-171px -251px
}
#selector .selector .selector_list dl.fs_unfold .fs_group:hover {
	background-position:-171px -233px
}
#selector .selector .selector_list dl.fs_unfold .fs_group1:hover {
	background-position:-171px -233px
}
#selector .selector .selector_list li .fs_checked {
	background-position:0 -238px;
	display:block;
	height:7px;
	line-height:999px;
	overflow:hidden;
	position:absolute;
	right:10px;
	top:5px;
	width:10px;
	cursor:pointer
}
#selector .selector .selector_list li a.fs_m {
	cursor:hand;
	background-position:-166px -125px;
	padding-left:27px;
	height:20px;
	_height:20px;
	line-height:20px;
	display:block;
	width:98px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-moz-text-overflow:ellipsis;
	-webkit-text-overflow:ellipsis;
	overflow:hidden
}
#selector .selector .selector_list li a.fs_f {
	background-position:-166px -161px;
	padding-left:27px;
	height:20px;
	_height:20px;
	line-height:20px;
	display:block;
	width:98px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-moz-text-overflow:ellipsis;
	-webkit-text-overflow:ellipsis;
	overflow:hidden
}
#selector .selector.fs_with_tab .selector_list li a.fs_m, #selector .selector.fs_with_tab .selector_list li a.fs_f {
	width:128px
}
#selector .selector .selector_list li.fs_offline a.fs_m {
	background-position:-166px -143px
}
#selector .selector .selector_list li.fs_offline a.fs_f {
	background-position:-166px -179px
}
#selector .selector .selector_list dl li a.fs_m {
	padding-left:35px;
	background-position:-158px -125px
}
#selector .selector .selector_list dl li a.fs_f {
	padding-left:35px;
	background-position:-158px -161px
}
#selector .selector .selector_list dl li.fs_offline a.fs_m {
	background-position:-158px -143px;
	color:#989898
}
#selector .selector .selector_list dl li.fs_offline a.fs_f {
	background-position:-158px -179px;
	color:#989898
}
#selector .selector dt:hover, #selector .selector li:hover {
	border:1px solid #e6ecf3;
	background-color:#f1f5fa;
	background-position:0 -44px
}
#selector .selector .selector_list dl.fs_fold dd {
	display:none
}
#selector .selector .selector_list p.fs_error_msg {
	padding:17px 23px
}
 
 
 
#selector .selector .fs_list_selected li .fs_trash {
	cursor:hand;
	background-position:0 -143px;
	display:block;
	height:18px;
	line-height:999px;
	overflow:hidden;
	position:absolute;
	right:0;
	top:0;
	width:18px
}
#selector .selector .fs_list_selected li .fs_trash:hover {
	background-position:0 -125px
}
#selector .selector .fs_list_selected .fs_list_overflow {
	background:#fff9e0;
	border:1px solid #ffeda7;
	padding:4px 2px 2px 27px;
	position:relative;
	zoom:1
}
#selector .selector .fs_list_selected .fs_list_overflow   {
	background-position:-174px -293px;
	display:block;
	height:15px;
	left:8px;
	position:absolute;
	top:3px;
	width:15px
}



.ry .title{ display:block; height:25px; border-bottom:1px solid #febf90; margin-bottom:0px; clear:both; line-height:24px;}
.ry .title span{ margin-left:10px; height:24px; margin-bottom:-1px; 
position:relative; border:1px solid #febf90; border-bottom:1px solid #fff; 
padding:0 10px; font-size:14px; font-weight:bold; border-radius:3px 3px 0 0; float:left; color:#d84700;}
  
.ry .title span a{ padding-left:18px; margin-right:15px;}

.ry .title .add{ background:url(../images/icon24.jpg?sts=2) no-repeat;}
.ry .title .del{ background:url(../images/icon25.jpg?sts=2) no-repeat;}
.ry .item{ margin-bottom:10px;}

.ry .cont{ height:130px; overflow-y:auto; border:1px solid #7f9db9;font-size:14px;padding-top:5px;margin-top:5px; }

.ry table{}
.ry table th{ background:url(../images/x06.jpg?sts=2) repeat-x;}
.ry table th,.ry table td{ border-collapse:collapse;  height:30px; padding:0 10px;font-size:14px;}
.ry table a{ color:#0079c6;}
.ry .hover{ background:#dbf2ff;}

.cont ul{padding-top:0px;margin-top:0px;padding-left:10px;margin-left:0px;}
.cont ul li {text-align:left;height:20px;font-size:14px;display:block;list-style-type:none;}
.cont ul li a{ color:#687ea6;text-decoration:none;}
.cont ul li a:hover{ color:#F80000;}

span a{ color:#687ea6;text-decoration:none;font-size:12px;}
span a:hover{ color:#d84700;}

.btn{ background:url(../images/btn10.jpg?sts=2) no-repeat; height:30px; width:85px; color:#fff; 
font-family:ºÚÌå; font-size:16px; font-weight:normal; border:0; cursor:pointer; margin:0 10px;} 

hr{border:1px solid #f78a13;}
.inp{height:20px; border:1px solid #7f9db9; width:490px;}
.inp[value]{ color:#4e4f4f;}
.star{ color:#ff0000; margin-right:3px;}

  
 
.searchgroup{ background:url(../images/x08.jpg?sts=2) repeat-x 0 -100px; height:40px; border:1px solid #e0e0e0;
padding:0 0px; margin-bottom:10px;}
.searchgroup p{ margin-top:8px; clear:both; overflow:hidden; font-size:12px;}
.searchgroup p a{}
.searchgroup p a{border:1px solid #febf90; height:18px; line-height:18px; padding:0 5px; color:#d84700; 
background:url(../images/x02.jpg?sts=2) repeat-x; display:block; float:left; margin:0 0 0 0px;}

.searchgroup span{ display:block; float:left;padding-left:10px;}
.searchgroup .butn{border:1px solid #febf90; height:20px; line-height:20px; padding:0 5px; color:#d84700; 
background:url(../images/x02.jpg?sts=2) repeat-x; display:block; float:left; margin:0 0 0 0px;}
#popAddMember .item{}
#popAddMember .item .cont{ height:211px; overflow-y:auto; overflow-x:hidden;}
#popAddMember .item .title{}

.search_ry{ border:1px solid #dedfde; background:url(../images/x08.jpg?sts=2) repeat-x 0 0; height:28px; 
line-height:28px; margin-bottom:10px;padding:6px 0;text-align:left}
.search_ry .inp{ height:26px; background:url(../images/x12.jpg?sts=2) repeat-x 0 -15px #fff; border:1px solid #cbcaca; line-height:26px; padding:0 3px; margin:0 10px; width:340px;}
.search_ry .inp[value]{ color:#999;}
.search_ry .btn_search{ background:url(../images/btn06.jpg?sts=2) no-repeat; border:none; cursor:pointer; height:28px; width:58px; color:#fff; font-weight:bold; margin-right:10px;}
 
 .close{float:right;position: relative;
 cursor:pointer; float:right;  margin:0px 0 0px 0px;
 height:18px; width:18px; background:url(../images/close.jpg?sts=2) no-repeat;}