TD {FONT-FAMILY: ו; COLOR: #484848; FONT-SIZE: 12px; TEXT-DECORATION: none}
.b {FONT-SIZE: 13px}

.bb:link {COLOR: #DE7C00; TEXT-DECORATION: none}
.bb:visited {COLOR: #DE7C00; TEXT-DECORATION: none}
.bb:hover {COLOR: #dc143c; TEXT-DECORATION: underline}